h2 {
    text-align: center;
}

.frm1{
    border: 1px solid black;
    height: 120px;
    width: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 550px;
    margin-right: 550px;
    background-color:cadetblue;
    text-align: center;
}
.frm2{
    border: 1px solid black;
    height: 180px;
    width: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 550px;
    margin-right: 550px;
    background-color:cadetblue;
    text-align: center;
}
input{
   width: 90%;
}
.button{
    display: inline-block;
    margin-top: 50px;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: cadetblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }